.p_body {
    margin: 0;
    /*height: 60px;*/
    line-height: 50px;
    font-size: 18px;
    background: #fff;
    border-bottom: 1px solid #c8c8c8;
    border-top: 1px solid #c8c8c8;
    overflow: hidden;
}

.p_span {
    padding: 8px 15px 0 15px;
    display: block;
    float: left;
}

.arrow {
    vertical-align: middle;
    float: right;
    padding: 15px;
    width: 13px;
    marginTop: 5px;
}

.Img {
    vertical-align: middle;
}

.address {
    fontSize: 19px;
    color: #333;
    line-height: 60px;
}

.span_left {
    width: 30%;
    display: block;
    float: left;
}

.center {
    text-align: center;
}

.span_right {
    width: 70%;
    display: block;
    float: left;
}

.p_style {
    overflow: hidden;
    background: #fff;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    padding: 20px 10px 20px 10px;
    margin-bottom: 20px;
}



.sub_img {
    width: 95%;
}

.margin_left_5 {
    margin: 0 15px;
}

.a_style {
    float: left;
    display: block;
    width: 20%;
    text-align: center;
    margin: 0 2px;
}

.tips_img {
    vertical-align: bottom;
    width: 5%;
    margin-right: 5px;
}

.tips_success {
    float: right;
    font-size: 14px;
    line-height: 27px;
    font-weight: normal;
    float: right;
}

.img {
    border-style: none;
    width: 5%;
    margin: 0 10px;
    vertical-align: middle;
}

:global {
    .price {
        font-size: 24px;
        margin-top: 10px;
        display: block;
        line-height: 27px;
        font-weight: normal;
        font-size: 22px;
    }

    .price_span {
        font-size: 14px;
        float: right;
        padding-right: 10px;
        padding-top: 10px;
        font-weight: normal;
    }
    .tsd_myorder .am-card {
        min-height: 0px;
        padding-bottom: 0px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #fff;
    }
    .tsd_myorder img {
        border-style: none;
        width: 10%;
    }
    .tsd_myorder .margin_left_0 .am-card-header {
        padding: 9px 0px !important;
    }

    .tsd_myorder .am-card {
        height: 53px;
        line-height: 53px;
    }
    .tsd_myorder .am-card-header-content {
        -ms-flex: 1;
        flex: 2 1 !important;
        text-align: left;
        color: #000;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }
    .am-modal-button-group-h .am-modal-button {
        -webkit-touch-callout: none;
        -ms-flex: 1 1 0%;
        flex: 1 1 0%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #108ee9;
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        display: block;
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: 1px solid #ff8840;
        border-radius: 56px;
        margin: 15px 10px;
        color: #fff;
        background-color: #ff8840;
    }
    .am-modal.am-modal-transparent .am-modal-content .am-modal-body {
        padding: 23px 15px 29px;
    }
    .am-modal-button-group-h .am-modal-button:first-child {
        color: #ff8840;
        background-color: #fff!important;
    }
    .am-modal-alert-content,
    .am-modal-propmt-content {
        zoom: 1;
        overflow: hidden;
        font-weight: normal;
        font-size: 16px;
        color: #000;
        line-height: 40px;
        margin: 0 10px;
    }
}